PORT=5000
MONGODB_URI=mongodb+srv://admin:ghost2024@cluster0.mongodb.net/coach_ghost?retryWrites=true&w=majority
JWT_SECRET=coach_ghost_super_secret_jwt_key_2026
ADMIN_USER=admin
ADMIN_PASS=ghost2024
NODE_ENV=development
